node_modules/
*.pem
coverage/
cypress/videos/
cypress/screenshots/
.env
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.*
infra/*.pem
infra/prod/.terraform/
infra/prod/*.tfstate
infra/prod/*.tfstate.*
infra/prod/*.pem
registry/terraform/.terraform/
registry/terraform/*.tfstate
registry/terraform/*.tfstate.*
registry/terraform/*.pem
registry/ansible/inventory.ini
ansible/inventory.ini