node_modules/
coverage/
cypress/videos/
cypress/screenshots/
.env
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.*
infra/*.pem
infra/prod/.terraform/
infra/prod/*.tfstate
infra/prod/*.tfstate.*
infra/prod/*.pem
aws/registry/terraform/.terraform/
aws/registry/terraform/*.tfstate
aws/registry/terraform/*.tfstate.*
aws/registry/terraform/*.pem
aws/registry/ansible/inventory.ini